@font-face{
    font-family: 'Yatra One', cursive;
    src: url('../fonts/logo/YatraOne-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
} 

@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    overflow-y: auto;
  }
/* input {
    outline: none;
  } */
a {
    text-decoration: none;
  }
  ul,
li {
    list-style: none;
  }


.header{
    background-color: #4cd137;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    font-family: 'Yatra One', cursive;
    color: #f5f6fa;
    
}

.header__nav__link{
    color: #f5f6fa;
}

.header__search svg{
    width: 30px;
    height: 30px;
    fill: #f5f6fa;
    cursor: pointer;
}

.search-input{
    visibility: hidden;
    opacity: 1;
    position: absolute;
    top: 0%;
    transition: 0.35s linear;
    right: 0%;
    z-index: -1;
}

.search-input--active{
    visibility: visible;
    opacity: 1;
    top: 10.8%;
    z-index: -1;
}

.header__logo{
  font-size: 20px;
}

.search-input input[type='text']{
    width: 100%;
    max-width: 200px;
    border: none;
    border-bottom: 1px solid #4cd137;
    height: 32px;
    box-shadow:  1px 1px 6px 0px rgba(0,0,0,0.4);
    padding: 0px 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
}

.search-input input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.nav__mobile{
  position: absolute;
  left: -100%;
}

.header__burger--opened{
  display: flex;
  width: 35px;
  height: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  transform: rotate(-45deg);
  transition: 0.1s;
}

.header__burger--opened::after{
  position: absolute;
  content: "";
  width: 35px;
  height: 4px;
  transform: rotate(90deg);
  background-color: #fff;
  border-radius: 5px;
}

.header__burger--closed{
  display: flex;
  width: 35px;
  height: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: 0.1s linear;
}

.header__burger--closed::after{
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 0;
  transition: 0.1s linear;
}

.header__burger--closed::before{
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  top: -10px;
  left: 0;
  transition: 0.1s linear;
}